@tailwind base;

@tailwind components;

@tailwind utilities;

.skew {
    display: none;
}

.skewed-top-right .skew-top.mr-for-radius {
    display: block;
}

.skewed-top-left .skew-top.ml-for-radius {
    display: block;
}

.skewed-bottom-right .skew-bottom.mr-for-radius {
    display: block;
}

.skewed-bottom-left .skew-bottom.ml-for-radius {
    display: block;
}

.skewed-top-right . {
    border-top-right-radius: 6rem;
}

.skewed-top-left . {
    border-top-left-radius: 6rem;
}

.skewed-bottom-right . {
    border-bottom-right-radius: 6rem;
}

.skewed-bottom-left . {
    border-bottom-left-radius: 6rem;
}