html(lang="en")
    head
        title Page title
        meta(charset="utf-8")
        meta(name="viewport", content="width=device-width, initial-scale=1, shrink-to-fit=no")
        link(rel="preconnect", href="https://fonts.gstatic.com")
        link(rel="stylesheet", href="https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&display=swap")
        link(rel="stylesheet", href="css/tailwind/tailwind.min.css")
        link(rel="icon", type="image/png", sizes="32x32", href="shuffle-for-tailwind.png")
        script(src="js/main.js")
    body(class="antialiased bg-body text-body font-body")
        div(class="")
            section(class="")
                nav(class="relative px-6 py-6 flex justify-between items-center bg-white")
                    a(class="text-3xl font-bold leading-none", href="#")
                        img(class="h-12", src="atis-assets/logo/atis/atis-mono-black.svg", alt="", width="auto")
                    div(class="lg:hidden")
                        button(class="navbar-burger flex items-center text-green-600 p-3")
                            svg(class="block h-4 w-4 fill-current", viewbox="0 0 20 20", xmlns="http://www.w3.org/2000/svg")
                                title Mobile menu
                                path(d="M0 3h20v2H0V3zm0 6h20v2H0V9zm0 6h20v2H0v-2z")
                    ul(class="hidden absolute top-1/2 left-1/2 transform -translate-y-1/2 -translate-x-1/2 lg:flex lg:mx-auto lg:flex lg:items-center lg:w-auto lg:space-x-6")
                        li
                            a(class="text-sm text-gray-400 hover:text-gray-500", href="#") Home
                        li
                            a(class="text-sm text-green-600 font-bold", href="#") About
                        li
                            a(class="text-sm text-gray-400 hover:text-gray-500", href="#") Blog
                    a(class="hidden lg:inline-block py-2 px-6 bg-green-500 hover:bg-green-600 text-sm text-white font-bold rounded-l-xl rounded-t-xl transition duration-200", href="#") Learn More
                div(class="hidden navbar-menu fixed top-0 left-0 bottom-0 w-5/6 max-w-sm z-50")
                    div(class="navbar-backdrop fixed inset-0 bg-gray-800 opacity-25")
                    nav(class="relative flex flex-col py-6 px-6 h-full w-full bg-white border-r overflow-y-auto")
                        div(class="flex items-center mb-8")
                            a(class="mr-auto text-3xl font-bold leading-none", href="#")
                                img(class="h-10", src="atis-assets/logo/atis/atis-mono-black.svg", alt="", width="auto")
                            button(class="navbar-close")
                                svg(class="h-6 w-6 text-gray-400 cursor-pointer hover:text-gray-500", xmlns="http://www.w3.org/2000/svg", fill="none", viewbox="0 0 24 24", stroke="currentColor")
                                    path(stroke-linecap="round", stroke-linejoin="round", stroke-width="2", d="M6 18L18 6M6 6l12 12")
                        div
                            ul
                                li(class="mb-1")
                                    a(class="block p-4 text-sm font-semibold text-gray-400 hover:bg-green-50 hover:text-green-600 rounded", href="#") Home
                                li(class="mb-1")
                                    a(class="block p-4 text-sm font-semibold text-gray-400 hover:bg-green-50 hover:text-green-600 rounded", href="#") About
                                li(class="mb-1")
                                    a(class="block p-4 text-sm font-semibold text-gray-400 hover:bg-green-50 hover:text-green-600 rounded", href="#") Blog
                        div(class="mt-auto")
                            div(class="pt-6")
                                a(class="block px-4 py-3 mb-3 leading-loose text-xs text-center font-semibold leading-none bg-gray-50 hover:bg-gray-100 rounded-l-xl rounded-t-xl", href="#") Sign in
                                a(class="block px-4 py-3 mb-2 leading-loose text-xs text-center text-white font-semibold bg-green-600 hover:bg-green-700 rounded-l-xl rounded-t-xl", href="#") Sign Up
                            p(class="my-4 text-xs text-center text-gray-400")
                                span © 2020 All rights reserved.
            section(class="relative overflow-hidden")
                div(class="relative bg-gray-50 pt-12 lg:pt-20 pb-12 md:pb-24")
                    div(class="container mx-auto px-4")
                        div(class="flex flex-wrap -mx-4")
                            div(class="w-full lg:w-1/2 px-4 mb-12 md:mb-20 lg:mb-0 flex items-center")
                                div(class="w-full text-center lg:text-left")
                                    div(class="max-w-md mx-auto lg:mx-0")
                                        h2(class="mb-3 text-4xl lg:text-5xl font-bold font-heading")
                                            span Build & Launch without problems
                                    div(class="max-w-sm mx-auto lg:mx-0")
                                        p(class="mb-6 text-gray-400 leading-loose") Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque efficitur nisl sodales egestas lobortis.
                                        div
                                            a(class="inline-block mb-3 lg:mb-0 lg:mr-3 w-full lg:w-auto py-2 px-6 leading-loose bg-green-600 hover:bg-green-700 text-white font-semibold rounded-l-xl rounded-t-xl transition duration-200", href="#") Get Started
                                            |                 
                                            a(class="inline-block w-full lg:w-auto py-2 px-6 leading-loose font-semibold bg-white hover:bg-gray-50 rounded-l-xl rounded-t-xl transition duration-200", href="#") How it works
                            div(class="w-full lg:w-1/2 px-4 flex items-center justify-center")
                                div(class="relative", style="z-index: 0;")
                                    img(class="h-128 w-full max-w-lg object-cover rounded-3xl md:rounded-br-none", src="https://images.unsplash.com/photo-1462826303086-329426d1aef5?ixlib=rb-1.2.1&ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&auto=format&fit=crop&w=1050&q=80", alt="")
            section
                div(class="py-20 bg-gray-50 ")
                    div(class="container mx-auto px-4")
                        div(class="mb-16 max-w-md mx-auto text-center")
                            span(class="text-green-600 font-bold") Dolor sit amet consectutar
                            h2(class="text-4xl md:text-5xl font-bold") Build & Launch without problems
                        div(class="flex flex-wrap -mx-4")
                            div(class="mb-12 lg:mb-0 w-full md:w-1/2 lg:w-1/4 px-4")
                                h4(class="mb-4 text-2xl font-bold font-heading") Lorem ipsum dolor sit amet consectutar
                                p(class="text-gray-500 leading-loose") Fusce quam tellus, placerat eu metus ut, viverra aliquet purus. Suspendisse potenti. Nulla non nibh feugiat.
                            div(class="mb-12 lg:mb-0 w-full md:w-1/2 lg:w-1/4 px-4")
                                h4(class="mb-4 text-2xl font-bold font-heading") Ut congue nec leo eget aliquam
                                p(class="text-gray-500 leading-loose") Ut tempus tellus ac nisi vestibulum tempus. Nunc tincidunt lectus libero, ac ultricies augue elementum at.
                            div(class="mb-12 lg:mb-0 w-full md:w-1/2 lg:w-1/4 px-4")
                                h4(class="mb-4 text-2xl font-bold font-heading") Proin fringilla eleifend justo pellentesque
                                p(class="text-gray-500 leading-loose") Donec ut ligula nunc. Mauris blandit vel est et facilisis. Integer sapien felis, aliquet at posuere et, porttitor quis ligula.
                            div(class="w-full md:w-1/2 lg:w-1/4 px-4")
                                h4(class="mb-4 text-2xl font-bold font-heading") Morbi sagittis ligula sit amet elit maximus
                                p(class="text-gray-500 leading-loose") Duis ut facilisis orci. Morbi lacinia nunc a augue eleifend, sed placerat ex faucibus. Duis ante arcu, pretium ac luctus vulputate.
            section(class="bg-gray-50")
                div(class="container mx-auto  h-screen  px-4 flex justify-center items-center")
                    div(class="mb-6 w-full lg:w-1/2 px-4")
                        div(class="flex flex-wrap items-center bg-white rounded shadow overflow-hidden")
                            img(class="w-full lg:w-1/3 h-80 object-cover", src="https://images.unsplash.com/photo-1580852300654-03c803a14e24?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=600&q=80", alt="")
                            div(class="w-full lg:w-2/3 lg:pl-6 p-4")
                                h4(class="mb-2 text-2xl font-bold font-heading") Danny Bailey
                                p(class="mb-4 text-gray-500 leading-loose") Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed vitae felis at ante bibendum mollis et et mauris.
                                div(class="flex")
                                    a(class="mr-3", href="#")
                                        img(src="atis-assets/social/facebook.svg", alt="")
                                    |             
                                    a(class="mr-3", href="#")
                                        img(src="atis-assets/social/twitter.svg", alt="")
                                    |             
                                    a(href="#")
                                        img(src="atis-assets/social/instagram.svg", alt="")
            section
                div(class="py-20 bg-gray-50")
                    div(class="container mx-auto px-4 w-full lg:w-3/4")
                        div(class="flex gap-4 flex-wrap")
                            div(class="flex flex-wrap -mx-3")
                                div(class="mb-4 lg:mb-0 w-full lg:w-1/4 px-3")
                                    img(class="w-full h-full object-cover rounded", src="https://images.unsplash.com/photo-1578509395623-a34c97f15379?ixlib=rb-1.2.1&ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&auto=format&fit=crop&w=968&q=80", alt="")
                                div(class="w-full lg:w-3/4 px-3")
                                    a(class="hover:underline", href="#")
                                        h3(class="mb-1 text-2xl font-bold font-heading") Morbi scelerisque nulla et lectus dignissim eleifend nulla eu nulla a metus
                                    div(class="mb-2 flex items-center text-sm")
                                        a(class="text-green-600 hover:underline hover:text-green-700", href="#") John Doe
                                        |               
                                        span(class="text-gray-400 mx-2") •
                                        |               
                                        span(class="text-gray-400") 24 Jan, 2021
                                    p(class="text-gray-500") Quisque id sagittis turpis. Nulla sollicitudin rutrum eros eu dictum...
                            div(class="flex flex-wrap -mx-3")
                                div(class="mb-4 lg:mb-0 w-full lg:w-1/4 px-3")
                                    img(class="w-full h-full object-cover rounded", src="https://images.unsplash.com/photo-1578509395623-a34c97f15379?ixlib=rb-1.2.1&ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&auto=format&fit=crop&w=968&q=80", alt="")
                                div(class="w-full lg:w-3/4 px-3")
                                    a(class="hover:underline", href="#")
                                        h3(class="mb-1 text-2xl font-bold font-heading") Morbi scelerisque nulla et lectus dignissim eleifend nulla eu nulla a metus
                                    div(class="mb-2 flex items-center text-sm")
                                        a(class="text-green-600 hover:underline hover:text-green-700", href="#") John Doe
                                        |               
                                        span(class="text-gray-400 mx-2") •
                                        |               
                                        span(class="text-gray-400") 24 Jan, 2021
                                    p(class="text-gray-500") Quisque id sagittis turpis. Nulla sollicitudin rutrum eros eu dictum...
                            div(class="flex flex-wrap -mx-3")
                                div(class="mb-4 lg:mb-0 w-full lg:w-1/4 px-3")
                                    img(class="w-full h-full object-cover rounded", src="https://images.unsplash.com/photo-1578509395623-a34c97f15379?ixlib=rb-1.2.1&ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&auto=format&fit=crop&w=968&q=80", alt="")
                                div(class="w-full lg:w-3/4 px-3")
                                    a(class="hover:underline", href="#")
                                        h3(class="mb-1 text-2xl font-bold font-heading") Morbi scelerisque nulla et lectus dignissim eleifend nulla eu nulla a metus
                                    div(class="mb-2 flex items-center text-sm")
                                        a(class="text-green-600 hover:underline hover:text-green-700", href="#") John Doe
                                        |               
                                        span(class="text-gray-400 mx-2") •
                                        |               
                                        span(class="text-gray-400") 24 Jan, 2021
                                    p(class="text-gray-500") Quisque id sagittis turpis. Nulla sollicitudin rutrum eros eu dictum...
            section(class="py-20")
                div(class="container mx-auto px-4")
                    div(class="mb-10 max-w-2xl mx-auto text-center")
                        a(class="uppercase text-base lg:text-xl text-green-600 hover:text-green-700 hover:underline", href="#") Travel
                        div(class="mt-2")
                            h2(class="mb-6 text-4xl lg:text-5xl font-bold font-heading") Curabitur vestibulum odio maximus ipsum
                            div(class="flex justify-center")
                                div(class="mr-4")
                                    img(class="w-12 h-12 object-cover object-top rounded-full", src="https://images.unsplash.com/photo-1494790108377-be9c29b29330?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=334&q=80", alt="")
                                div(class="text-left")
                                    a(href="#")
                                        h3(class="text-gray-500 hover:text-gray-600 hover:underline font-bold") Alice Bradley
                                    |                   
                                    a(href="#")
                                        span(class="text-xs text-green-600 font-bold") Author
                    div(class="mb-10")
                        img(class="w-full h-80 object-cover rounded-lg", src="https://images.unsplash.com/photo-1473773508845-188df298d2d1?ixlib=rb-1.2.1&ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&auto=format&fit=crop&w=967&q=80", alt="")
                    div(class="max-w-2xl mx-auto")
                        p(class="mb-6 leading-loose text-gray-500") Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent commodo est eget consequat imperdiet. Suspendisse laoreet scelerisque lobortis. Mauris facilisis hendrerit nulla at vehicula. Suspendisse potenti. Ut in nulla a purus bibendum convallis. Suspendisse id nunc maximus, suscipit ante ac, vulputate massa. Sed ut nunc suscipit, bibendum arcu a, interdum elit. Nullam laoreet mollis dictum. Ut suscipit, magna at elementum iaculis, erat erat fermentum justo, sit amet ultrices enim leo sit amet purus. Nulla sed erat molestie, auctor mauris lobortis, iaculis justo.
                        p(class="leading-loose text-gray-500") Duis hendrerit dui in dui ornare luctus. Nullam gravida tincidunt lorem cursus suscipit. Integer scelerisque sem et sem porta, eu volutpat mi tempor. Duis interdum sodales lacus non tempor. Nam mattis, sapien a commodo ultrices, nunc orci tincidunt ante, tempus tempus turpis metus laoreet lacus. Praesent condimentum, arcu ut fringilla tincidunt, augue diam pretium augue, sit amet vestibulum nunc felis vel metus. Duis dolor nulla, pellentesque non ultrices ut, convallis eu felis. Duis luctus tempor arcu, vitae elementum massa porta non. Morbi aliquet, neque ut volutpat sodales, dui enim facilisis enim, ut dictum lacus neque in urna. Nam metus elit, ullamcorper pretium nisi at, aliquet gravida lectus. Nullam id lectus pellentesque, suscipit dolor eget, consequat velit. Pellentesque finibus commodo nisl, id interdum leo. Maecenas aliquam felis justo, ut sagittis nunc maximus ut.
            section
                div(class="skew skew-top mr-for-radius")
                    svg(class="h-8 md:h-12 lg:h-20 w-full text-gray-50", viewbox="0 0 10 10", preserveaspectratio="none")
                        polygon(fill="currentColor", points="0 0 10 10 0 10")
                div(class="skew skew-top ml-for-radius")
                    svg(class="h-8 md:h-12 lg:h-20 w-full text-gray-50", viewbox="0 0 10 10", preserveaspectratio="none")
                        polygon(fill="currentColor", points="0 10 10 0 10 10")
                div(class="py-20 bg-gray-50 ")
                    div(class="container mx-auto px-4")
                        div(class="mb-6 flex flex-wrap justify-center")
                            div(class="mb-16 w-full text-center")
                                span(class="text-green-600 font-bold") Dolor sit amet consectutar
                                h2(class="text-4xl lg:text-5xl font-bold font-heading") Our Blog
                            div(class="flex flex-wrap -mx-3 mb-16")
                                div(class="mb-6 lg:mb-0 w-full lg:w-1/2 px-3")
                                    div(class="h-full flex flex-col rounded shadow")
                                        img(class="rounded-t object-cover h-80 lg:h-full w-full", src="https://images.unsplash.com/photo-1559827291-72ee739d0d9a?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=968&q=80", alt="")
                                        div(class="mt-auto p-6 rounded-b bg-white")
                                            span(class="text-sm text-gray-400") 24 Jan, 2021
                                            h2(class="my-2 text-2xl font-bold") Morbi scelerisque nulla et lectus dignissim eleifend nulla eu nulla a metus
                                            p(class="mb-6 text-gray-400 leading-loose") Quisque id sagittis turpis. Nulla sollicitudin rutrum eros eu dictum. Integer sit amet erat sit amet lectus lacinia mattis. Donec est tortor, fermentum at urna a, accumsan suscipit sem.
                                            a(class="text-green-600 hover:text-green-700 font-bold", href="#") Learn More
                                div(class="flex flex-wrap w-full lg:w-1/2")
                                    div(class="mb-6 w-full lg:w-1/2 px-3")
                                        div(class="rounded overflow-hidden shadow")
                                            img(class="lg:h-48 rounded-t", src="https://images.unsplash.com/photo-1413752362258-7af2a667b590?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1055&q=80", alt="")
                                            div(class="p-6 rounded-b bg-white")
                                                span(class="text-sm text-gray-400") 24 Jan, 2021
                                                h2(class="my-2 text-2xl font-bold") Morbi scelerisque nulla et lectus
                                                a(class="text-green-600 hover:text-green-700 font-bold", href="#") Learn More
                                    div(class="mb-6 w-full lg:w-1/2 px-3")
                                        div(class="rounded overflow-hidden shadow")
                                            img(class="lg:h-48 rounded-t", src="https://images.unsplash.com/photo-1459213599465-03ab6a4d5931?ixlib=rb-1.2.1&ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&auto=format&fit=crop&w=1055&q=80", alt="")
                                            div(class="p-6 rounded-b bg-white")
                                                span(class="text-sm text-gray-400") 24 Jan, 2021
                                                h2(class="my-2 text-2xl font-bold") Morbi scelerisque nulla et lectus
                                                a(class="text-green-600 hover:text-green-700 font-bold", href="#") Learn More
                                    div(class="mb-6 w-full lg:w-1/2 px-3")
                                        div(class="rounded overflow-hidden shadow")
                                            img(class="lg:h-48 rounded-t", src="https://images.unsplash.com/photo-1459213599465-03ab6a4d5931?ixlib=rb-1.2.1&ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&auto=format&fit=crop&w=1055&q=80", alt="")
                                            div(class="p-6 rounded-b bg-white")
                                                span(class="text-sm text-gray-400") 24 Jan, 2021
                                                h2(class="my-2 text-2xl font-bold") Morbi scelerisque nulla et lectus
                                                a(class="text-green-600 hover:text-green-700 font-bold", href="#") Learn More
                                    div(class="mb-6 w-full lg:w-1/2 px-3")
                                        div(class="rounded overflow-hidden shadow")
                                            img(class="lg:h-48 rounded-t", src="https://images.unsplash.com/photo-1413752362258-7af2a667b590?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1055&q=80", alt="")
                                            div(class="p-6 rounded-b bg-white")
                                                span(class="text-sm text-gray-400") 24 Jan, 2021
                                                h2(class="my-2 text-2xl font-bold") Morbi scelerisque nulla et lectus
                                                a(class="text-green-600 hover:text-green-700 font-bold", href="#") Learn More
                            div
                                a(class="inline-block py-2 px-6 rounded-l-xl rounded-t-xl bg-green-600 hover:bg-green-700 text-gray-50 font-bold leading-loose outline-none transition duration-200", href="#") View More Articles
                div(class="skew skew-bottom mr-for-radius")
                    svg(class="h-8 md:h-12 lg:h-20 w-full text-gray-50", viewbox="0 0 10 10", preserveaspectratio="none")
                        polygon(fill="currentColor", points="0 0 10 0 0 10")
                div(class="skew skew-bottom ml-for-radius")
                    svg(class="h-8 md:h-12 lg:h-20 w-full text-gray-50", viewbox="0 0 10 10", preserveaspectratio="none")
                        polygon(fill="currentColor", points="0 0 10 0 10 10")
